node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
.envReal
test/SimpleFaucet.js
contracts/SimpleFaucet.sol

node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

