node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
.envReal
test/SimpleFaucet.js
contracts/SimpleFaucet.sol
scripts/deployFaucet.js
/scripts/setFaucetClaimers.js
/scripts/deployFaucetContract.js

node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

